<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido/a</title>
</head>
<body>
    <h1>Hola {{ nombre }}, bienvenido/a a la aplicación web de apoyo a la entega de subsidios de gas.</h1>
    <p>Tus datos para acceder a la aplicación son:</p>
    <ul>
        <il>Usuario: {{ rut }}</il>
        <il>Clave temporal: {{ password }}</il>
    </ul>
    <p>Una vez que ingreses recomendamos realizar el cambio de la contraseña de acceso</p>
</body>
</html>