<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña temporal</title>
</head>
<body>
    <h3>Hola {{ nombre }}, a solicitado una contraseña temporal para la aplicación web de apoyo a la entega de subsidios de gas.</h3>
    <p>Tus datos para acceder a la aplicación son:</p>
    <ul>
        <li>Usuario: {{ rut }}</li>
        <li>Clave temporal: {{ password }}</li>
    </ul>
    <p>Una vez que ingreses recomendamos realizar el cambio de la contraseña de acceso.</p>
    <p>Esta es una notificación automática. Si recientemente no ha cambiado su contraseña, o sospecha que su Cuenta de Usuario puede haber sido utilizada por otra persona, por favor, comuníquese inmediatamente con nosotros</p>
    <br>
    <p>Saludos</p>
</body>
</html>