{% extends "base.html" %}
{% load static %}
{% block titulo %}Home{% endblock %}

    {% block preloader %}
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'assets_login/img/escudo.png' %}" alt="Municipalidad de Coelemu" width="80">
    </div>
    {% endblock %}

    <!-- Content Header (Page header) -->
    {% block content_header_title%} 
    {% endblock %}
    
    <!-- /.content-header -->
    <!-- Main content -->
    {% block content_main %}
        <!-- Main row -->
        <div class="row">
                    <img src="{% static 'img/gas_mas_basrato.jpg' %}" alt="" width="100%">
            
        </div>
        <!-- /.row (main row) -->

    
    <!-- /.content -->
    {% endblock %}
    {% block scripts %}
<script>
$(document).ready(function(){
    function humanizeNumber(n) {
        n = n.toString()
        while (true) {
            var n2 = n.replace(/(\d)(\d{3})($|,|\.)/g, '$1.$2$3')
            if (n == n2) break
            n = n2
        }
        return n
        };

        let precio = "{{ precio_gas.precio }}"
        $("#precio_gas").append(humanizeNumber(precio));
});
</script>
{% endblock %}