{% extends "base.html" %}
{% load static %}
{% block titulo %}Mi perfil{% endblock %}

<!-- Content Header (Page header) -->
{% block content_header_title%}Mi Perfil{% endblock %}
{% block content_header_actual%} Mi Perfil{% endblock %}
<!-- Main content -->
{% block content_main %}
<div class="row mb-3 ml-1">
    <!-- Button trigger modal -->
    <a href="{% url 'editarPerfil' request.session.usuario.id %}">
        <button type="button" class="btn bg-gradient-primary">
            <i class="fas fa-user-edit"></i>
            Editar Datos
        </button>
    </a>
    <a href="{% url 'cambiarContrasena' request.session.usuario.id %}">
        <button type="button" class="btn bg-gradient-primary ml-1"">
            <i class="fas fa-key"></i>
            Cambiar Contraseña
        </button>
    </a>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md12">
                <div class="card card-warning">
                    <div class="card-header p-2">
                        <h6>Datos usuario</h6>
                    </div><!-- /.card-header -->
                    <div class="card-body container-fluid">                           
                            <div class="row">
                                <div class="col-md-2 mx-auto">
                                    <!-- Imagen usuario -->
                                    <div class="form-group text-center">
                                        <img src="{% static 'img/usuario.png' %}"  class="img-fluid crop"  width="40%">
                                    </div>
                                </div>
                                <div class="col-md-6 mx-auto">
                                    <div class="input-group mb-3">
                                        <label for="registro_nombres" class="col-sm-3 col-form-label">Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombres" id="registro_nombres" name="registro_nombres" value="{{ usuario.nombres }}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_ap_paterno" class="col-sm-3 col-form-label">Apellido paterno</label>
                                        <input type="text" class="form-control" placeholder="Apellido paterno" id="registro_ap_paterno" name="registro_ap_paterno" value="{{ usuario.apellido_paterno }}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_ap_materno" class="col-sm-3 col-form-label">Apellido materno</label>
                                        <input type="text" class="form-control" placeholder="Apellido materno" id="registro_ap_materno" name="registro_ap_materno" value="{{ usuario.apellido_materno }}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_rut" class="col-sm-3 col-form-label">RUT</label>
                                        <input type="text" class="form-control" placeholder="11111111-1" id="registro_rut" name="registro_rut" value="{{ usuario.rut }}-{{ usuario.dv}}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-id-card"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_celular" class="col-sm-3 col-form-label">Celular</label>
                                        <input type="text" class="form-control" placeholder="Celular" id="registro_celular" name="registro_celular" value="{{ usuario.celular }}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-mobile"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_email" class="col-sm-3 col-form-label">Email</label>
                                        <input type="email" class="form-control" placeholder="Email" id="registro_email" name="registro_email" value="{{ usuario.email }}" readonly>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        <!-- /.card -->

                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
                
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
<script>
    //$(function () {bsCustomFileInput.init();});
    $("#add-photo").tooltip()//para el mesaje de subir foto

    function createPreview(file) {
    var imgCodified = URL.createObjectURL(file);
    $("#foto").attr("src",imgCodified);
    $("#foto").attr("class","img-fluid rounded-circle");
}

    // Abrir el inspector de archivos
    $(document).on("click", "#add-photo", function(){
        $("#editar_imagen").click();
    });

     // Cachamos el evento change
    $(document).on("change", "#editar_imagen", function () {
        console.log(this.files);
        var files = this.files;
        var element;
        var supportedImages = ["image/jpeg", "image/png", "image/gif"];
        var seEncontraronElementoNoValidos = false;

        for (var i = 0; i < files.length; i++) {
            element = files[i];
            if (supportedImages.indexOf(element.type) != -1) {createPreview(element);}
            else {seEncontraronElementoNoValidos = true;}
        }
        if (seEncontraronElementoNoValidos) {toastr.error("Archivo de imagen no valido");}
        else {toastr.success("Archivo de imagen subido correctamente");}
    });
</script>
{% endblock %}