{% extends "base.html" %}
{% load static %}
{% block titulo %}Nuevo ususario{% endblock %}

<!-- Content Header (Page header) -->
{% block content_header_title%}Ingresar informacion RSH beneficiario {{ usuario }}{% endblock %}
{% block content_header_actual%}<a href="{% url 'usuarios' %}">Usuarios</a> / Nuevo Usuario/ RHS{% endblock %}
<!-- Main content -->
{% block content_main %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md12">
                <div class="card card-warning">
                    <div class="card-header p-2">
                        <h6>Datos nuevo usuario</h6>
                    </div><!-- /.card-header -->
                    <div class="card-body container-fluid">
                        <form class="mt-3" action="{% url 'nuevoUsuario' %}" method="POST" id="form_nuevo_usuario" enctype="multipart/form-data"> 
                            {% csrf_token %}
                            <div class="row mt-4">
                                <div class="col-md-2 mx-auto">
                                    <!-- Profile Image -->
                                    <div class="form-group text-center">
                                    <div class="input-group">
                                        <img src="{% static 'img/hogar.png' %}"  class="img-fluid crop" alt="Subir foto" id="foto" width="75%">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mx-auto">
                                    <!--=============  USUARIO BENEFICIARIO ==================-->
                                    <div class="input-group mt-4">
                                        <h5>Registro Social de Hogares del beneficiario</h5>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_direccion" class="col-sm-3 col-form-label">Dirección</label>
                                        <input type="text" class="form-control" placeholder="" id="" name="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_direccion" class="col-sm-3 col-form-label">Calificación Soc. Eco.</label>
                                        <input type="text" class="form-control" placeholder="" id="" name="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label for="registro_direccion" class="col-sm-3 col-form-label">RHS (archivo pdf)</label>
                                        <input type="file" class="" placeholder="" id="" name="">                                    
                                    </div>
                                    <div class="row mt-3 float-right">
                                        <button type="submit" id="submit_nuevo_usuario" class="btn btn-primary">Registrar</button>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-2 mx-auto">
                                    <!-- Profile Image -->
                                    <div class="form-group text-center">
                                    <div class="input-group">
                                        <img src="{% static 'img/familia.png' %}"  class="img-fluid crop" alt="Subir foto" id="foto" width="75%">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mx-auto">
                                    <!--=============  USUARIO BENEFICIARIO ==================-->
                                    
                                        <h5>Integrantes del Grupo familiar</h5>
                                        <!-- Tabla de integrantes grupo familiar -->
                                        <table id="myTable" class="table table-dark"></table>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </form>
                        <!-- /.card -->

                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
                
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
<script>
    //$(function () {bsCustomFileInput.init();});
    $("#add-photo").tooltip()//para el mesaje de subir foto

    function createPreview(file) {
    var imgCodified = URL.createObjectURL(file);
    $("#foto").attr("src",imgCodified);
    $("#foto").attr("class","img-fluid rounded-circle");
}

    // Abrir el inspector de archivos
    $(document).on("click", "#add-photo", function(){
        $("#registro_imagen").click();
    });

     // Cachamos el evento change
    $(document).on("change", "#registro_imagen", function () {
        console.log(this.files);
        var files = this.files;
        var element;
        var supportedImages = ["image/jpeg", "image/png", "image/gif"];
        var seEncontraronElementoNoValidos = false;

        for (var i = 0; i < files.length; i++) {
            element = files[i];
            if (supportedImages.indexOf(element.type) != -1) {createPreview(element);}
            else {seEncontraronElementoNoValidos = true;}
        }
        if (seEncontraronElementoNoValidos) {toastr.error("Archivo de imagen no valido");}
        else {toastr.success("Archivo de imagen subido correctamente");}
    });
</script>
<script>
    $(document).ready(function(){     
    $("#myTable").dynamicTable({
        //definimos las columnas iniciales     
        columns: [{
            text: "Nombre",
            key: "name"
        },
        {
            text: "Edad",
            key: "age"
        },
        {
            text: "Género",
            key: "gender"
        },
        {
            text: "País",
            key: "pais"
        },        
        ],

        //carga de datos
        data: [{
            name: 'José Perez',
            age: 30,
            gender: 'M',
            pais: 'Colombia'    
        },
        {
            name: 'María Pía',
            age: 24,
            gender: 'F',
            pais: 'Brasil'
        },
        {
            name: 'Pedro',
            age: 31,
            gender: 'M',
            pais: 'Perú'
        }
        ],

        //definición de botones
        buttons: {
            addButton: '<input type="button" value="Nuevo" class="btn btn-success" />',
            cancelButton: '<input type="button" value="Cancelar" class="btn btn-primary" />',
            deleteButton: '<input type="button" value="Borrar" class="btn btn-danger" />',
            editButton: '<input type="button" value="Editar" class="btn btn-primary" />',
            saveButton: '<input type="button" value="Guardar" class="btn btn-success" />',
        },
        showActionColumn: true,
        //condicionales
        getControl: function (columnKey) {
            if (columnKey == "age") {
                return '<input type="number" class="form-control" />';
            }

            if (columnKey == "gender") {
                return '<select class="form-control"><option value="M">Masculino</option><option value="F">Femenino</option></select>';
            }

            return '<input type="text" class="form-control" />';
        }

    });	    
});    
</script>
{% endblock %}