{% extends "base.html" %}
{% load static %}
{% block titulo %}Home{% endblock %}

    {% block preloader %}
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'assets_login/img/escudo.png' %}" alt="Municipalidad de Coelemu" width="80">
    </div>
    {% endblock %}

    <!-- Content Header (Page header) -->
    {% block content_header_title%}{% endblock %}
    {% block content_header_actual%}{% endblock %}
    <!-- /.content-header -->
    {% block sidebar_menu %}
    {% endblock %}
    <!-- Main content -->
    {% block content_main %}
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                <h3>{{ solicitudes }}</h3>

                <p>Solicitudes</p>
                </div>
                <div class="icon">
                <i class="fas fa-file-invoice"></i>
                </div>
                <a href="{% url 'solicitudes' %}" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                <h3>{{ convenios }}<sup style="font-size: 20px"></sup></h3>
                <p>Convenios entregados</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice-dollar"></i>
                </div>
                <a href="{% url 'convenios' %}" class="small-box-footer">Más información<i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                <h3>{{cant_beneficiarios}}</h3>

                <p>Beneficiarios Registrados</p>
                </div>
                <a href="{% url 'nuevoBeneficiario' %}" title="Registra nuevo usuario">
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </a>
                <a href="{% url 'beneficiarios' %}" class="small-box-footer">Más información<i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                <h3 id="precio_gas">$ </h3>

                <p>Precio del gas actualizado el {{ precio_gas.updated_at }}</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'precioGas' %}" class="small-box-footer">Más información<i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <img src="{% static 'img/gas_mas_basrato.jpg' %}" alt="" width="100%">
        </div>
        <!-- /.row (main row) -->

    
    <!-- /.content -->
    {% endblock %}
    {% block scripts %}
<script>
$(document).ready(function(){
    function humanizeNumber(n) {
        n = n.toString()
        while (true) {
            var n2 = n.replace(/(\d)(\d{3})($|,|\.)/g, '$1.$2$3')
            if (n == n2) break
            n = n2
        }
        return n
        };

        let precio = "{{ precio_gas.precio }}"
        $("#precio_gas").append(humanizeNumber(precio));
});
</script>
{% endblock %}