{% extends "base.html" %}
{% load static %}
{% block titulo %}Usuarios registrados{% endblock %}

<!-- Content Header (Page header) -->
{% block content_header_title%}Usuarios{% endblock %}
{% block content_header_actual%}usuarios{% endblock %}
<!-- Main content -->
{% block content_main %}
    <div class="row mb-3 ml-1">
        <!-- Button trigger modal -->
        <a href="{% url 'nuevoUsuario' %}">
            <button type="button" class="btn bg-gradient-primary">
                <i class='fas fa-user-plus'></i>
                Nuevo Usuario
            </button>
        </a>
    </div>
    <!-- Tabla de usuarios -->
    <table id="tabla" class="table table-sm table-bordered table-striped table-hover">
        <thead class="bg-warning">
        <tr>
            <th>Nombre</th>
            <th>RUT</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Rol</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody> 
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario }}</td>
                <td>{{ usuario.rut }}-{{usuario.dv}}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.celular }}</td>
                <td>{{ usuario.rol }}</td>
                <td>{{ usuario.created_at}}</td>
                <td>{{ usuario.updated_at}}</td>
                <td class="text-center">
                    {% if usuario.estado == 1%}
                    <a href="{% url 'cambiarEstadoUsuario' usuario.id %}">
                        <button type="button" class="btn btn-success">    
                            <i class='fas fa-user-check'>Activo</i>
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'cambiarEstadoUsuario' usuario.id %}">
                        <button type="button" class="btn btn-danger">
                            <i class='fas fa-user-lock'>Inactivo</i>
                        </button>
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'editarUsuario'  usuario.id %}">
                        <button type="button" class="btn btn-primary">
                            Editar
                        </button>
                    </a>
                    <a href="{% url 'verUsuario' usuario.id %}">
                        <button type="button" class="btn btn-primary">
                            Ver
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- ./Tabla de usuarios -->
{% endblock %}
{% block scripts %}

{% endblock %}