{% extends "base.html" %}
{% load static %}
{% block titulo %}Home{% endblock %}

    {% block preloader %}
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'assets_login/img/escudo.png' %}" alt="Municipalidad de Coelemu" width="80">
    </div>
    {% endblock %}

    <!-- Content Header (Page header) -->
    {% block content_header_title%}Encabezado contenido principal Home Administrador{% endblock %}
    {% block content_header_actual%}Otro Link{% endblock %}
    <!-- /.content-header -->

    <!-- Main content -->
    {% block content_main %}
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
                </div>
                <div class="icon">
                <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                <h3>{{cant_usuarios}}</h3>

                <p>Usuarios Registrados</p>
                </div>
                <a href="{% url 'nuevoUsuario' %}" title="Registra nuevo usuario">
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </a>
                <a href="{% url 'usuarios' %}" class="small-box-footer">Más información<i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                <h3 id="precio_gas">$</h3>

                <p>Precio del gas actualizado el {{ precio_gas.updated_at }}</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'precioGas' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
                <!-- card -->
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Título
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                        </li>
                        </ul>
                    </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                    <div class="tab-content p-0">
                        Hola!! esta es la columna de la izquierda.
                    </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable">
                <!-- card -->
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Título
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                        </li>
                        </ul>
                    </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                    <div class="tab-content p-0">
                        Hola!! esta es la columna de la derecha.
                    </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

    
    <!-- /.content -->
    {% endblock %}