<!-- Sidebar Menu Administrador-->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{% url 'usuarios' %}" class="nav-link">
                <i class='fas fa-users-cog'></i>
                <p>Usuarios</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Convenios
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Historico</p>
                </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                Grupos Familiares
                <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Todos los grupos</p>
                </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class='fas fa-users-cog'></i>
                <p>Solicitudes</p>
            </a>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                Configuración
                <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'precioGas' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Precio Gas</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'descuentoAplicable' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Descuento Aplicable</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cantConvenios' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Convenios por Beneficiario</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->